body {
    border-top: 3px solid #FFA500;

    background: url('/assets/fish.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}

header, header h1 {
  color: #FFA500;
}

header a {
  text-decoration: none;
}

main a, a:visited {
  color: #FFA500;
  text-decoration: none;
}

a:hover {
  color: #FFA500;
  text-decoration: underline;
}

header h1 {
  font-family: "Pacifico";
}

nav ul li {
  border-right: 1px dotted #FFA500;
}

nav ul li:last-child {
  border-right: none;
}

nav ul li a {
  color: #000;
}

nav ul li a:hover {
  color: #FFA500;
}

main {
  min-height: 70vh;
}

footer {
  border-top: 2px solid #FFF;
  background-color: rgba(255,255,255, 0.5);
}
