
<div class="site-footer">

  &copy; 2023 {{ .Site.Title }} &ndash; Content permissively <a class="text-muted" href="/license">licensed</a>; Source code available <a class="text-muted" href="https://github.com/beyondmeh/beyondmeh.com">here</a>

  <div class="row end-md center-xs">
    {{ range .Site.Params.socials }}
    <div class="site-footer-item">
      <a href="{{ .link }}" title="{{ .name }}" target="_blank"><img src="/images/feather/{{ .icon }}.svg"></a>
    </div>
    {{ end }}
  </div>
</div>